.header {
    display: flex;
    flex-direction: row;
    width: 1500px;
    margin: 8px;
    justify-content: space-between;
}

.input_wrapper {
    background-color: white;
    width: 500px;
    padding: 0 15px;
    border-radius: 10px;
    box-shadow: 0 0 8px #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    background-color: transparent;
    border: none;
    height: 40px;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 7px;
}

input:focus {
    outline: none;
}